---
layout: default
title: Home
---

<!-- Header
================================================== -->
<div class="page-single">
    <div class="entry-header">       
        <h1 class="posttitle">{{ page.title }}</h1>        
    </div>
</div>

<!-- Posts Index
================================================== -->
<div class="blog-grid-container">
    {% for post in paginator.posts %}
        {% include postbox.html %}
    {% endfor %}
</div>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

